{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 35.62852373042681,
    "longitude": -82.6036047935486,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "LaunchPad",
    "time_zone": "America/New_York",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 100
  }
}